@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(161, 221, 245);
}
section{
    margin-top: 2rem;
    color: #fff;
}
.date{
    padding: 30px;
}
.date h1{
    font-weight: 600;
}
.date h2{
    font-weight: 400;
}
.date h3{
    font-weight: 300;
}
.date p{
    font-weight: 200;
}
.date location{
    text-align: center;
}
.week-days{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 0.5rem; */
    margin-top: 2rem;
}
.week-days .col{
    backdrop-filter: blur(200px);
    box-shadow: 1px 2px 11px 4px rgba(82, 90, 90, 0.445);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(76, 194, 245);
    padding: 20px 20px;
}
.week-days .col p{
    font-weight: 700;
    font-size: 25px;
}
.search-container {
    display: flex;
    align-items: center;
    width: 350px;
    margin: 20px auto;
    border: 1px solid #9e9c9c;;
    border-radius: 5px;
    padding: 5px;
}
.search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    color: #9e9c9c;
}
.search-container button[type="submit"] {
    background: none;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 15px;
    cursor: pointer;
    color: grey;
}

.container, .search-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.fa-solid fa-location-dot{
    color: #9e9c9c;
}
